__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
venv
env
.venv
.vscode
.idea
.ipynb_checkpoints
*.ipynb
.git
.gitignore
*.log
data/raw
cache/*
*.pkl
*.joblib
!model/*.pkl
!model/*.joblib
.DS_Store
.Dockerfile
docker-compose.yml
README.md